.create {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 209, 0.9304096638655462) 50%,
    rgba(252, 176, 69, 1) 100%
);
}

.navcreate {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: transparent;
  gap: 34rem;
}
.home-link-c {
  font-size: 25px; 
  font-weight: 800;
  color: black;
}
.home-link-c:hover {
  color: yellow;
}
.logout-cr {
  background-color: #c8dafc;
  color: darkcyan;
  padding: 5px 13px;
  height: 30px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.logout-cr:hover {
  color: red;
  border: 2px solid blue;
}
.userlogo-cr {
  border-radius: 50%;
}
.usernav-cr {
  margin-top: -2.5rem;
  margin-left: 2rem;
} 
.createPostPage {
  width: 100%;
  height: 600px;
  /* display: grid;
  place-items: center; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.cpContainer {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;

  justify-content: center;
  align-items: center;
}
.cpContainer h1 {
  text-align: center;
}
.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}
.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.cpContainer button:hover {
  color: red;
}
input,
textarea {
  margin-top: 5px;
}

@media (min-width: 425px) {
  .create {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(29, 253, 209, 0.9304096638655462) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}
