.create {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 209, 0.9304096638655462) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.cpContainer {
  width: 45%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;

  justify-content: center;
  align-items: center;
}
.cpContainer h1 {
  text-align: center;
}
.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}
.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.cpContainer button:hover {
  color: red;
}
input,
textarea {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .cpContainer {
    width: 88%;
    margin: 0 auto;
  }
}
