.home {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.homepage {
  width: 100%;
  height: auto;
  margin: 0 0.3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: rgb(240, 235, 190);
}
.welcome {
  width: 100%;
  background-color: rgb(249, 243, 186);
  margin: 1 rem auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.welcome h1 {
  width: 80%;
  font-size: 59px;
  font-weight: 900;
  margin: 1rem auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: cornflowerblue;
}
.welcome h1 .book {
  color: darkmagenta;
}
.post {
  width: 20%;
  height: 350px;
  max-height: 500px;
  overflow: hidden;
  /* background-color: rgb(250, 250, 250); */
  box-shadow: rgba(0, 0, 0, 0.24);
  margin: 1rem 1.5rem;

  padding: 17px;
  border-radius: 15px;
  margin-top: 2rem;
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: 0px 5px 10px 0px Rgba(0, 0, 0, 0.5);
}
.post-image {
  width: 80%;
  height: 140px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 6px;
}
.postHeader {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 900;
  width: 100%;
}

.postHeader.title {
  width: 100%;
  margin: 0 auto;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
  border: none;

  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  color: red;
}
.update-btn {
  border: none;
  background: none;
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;

  color: green;
}
.post .postTextContainer {
  word-wrap: break-word;
  height: 50px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}
.read {
  display: flex;
  align-items: center;
}
.read-post {
  color: blue;
  font: 19px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .homepage {
    width: 100%;
    height: auto;
    margin: 0 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background-color: rgb(240, 235, 190);
  }
  .welcome {
    width: 100%;
    margin: 1 rem auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .welcome h1 {
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    margin: 2rem auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: cornflowerblue;
  }
  .welcome h1 .book {
    color: darkmagenta;
  }
  .update-btn button {
    width: 200%;
  }
  .post {
    width: 50%;
    height: 350px;
    max-height: 500px;
    overflow: hidden;
    /* background-color: rgb(250, 250, 250); */
    box-shadow: rgba(0, 0, 0, 0.24);
    margin: 1rem 1.5rem;
    padding: 17px;
    border-radius: 15px;
    margin-top: 2rem;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0px 5px 10px 0px Rgba(0, 0, 0, 0.5);
  }
  .post-image {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .postHeader {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    width: 70%;
  }
  .postHeader.title {
    width: 80%;
    margin: 0 auto;
  }
  .title h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 1rem auto;
  }
  .post .postTextContainer {
    word-wrap: break-word;
    height: 50px;
    max-height: 300px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .delete-btn {
    border: none;

    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    background: transparent;
    color: red;
  }
  .update-btn {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;

    color: green;
  }
  .name-author {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  .read-post {
    font-size: 13px;
    font-weight: 400;
    margin-top: 0.6rem;
  }
}
