.loginPage {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

  background: url(../../image/log.jpg) center/cover fixed;
}
.login {
  width: 40%;
  height: auto;
  align-items: center;
  justify-content: center;
  place-items: center;
  border-radius: 10px;
  background-color: transparent;
  margin: 2rem 1rem;
  display: flex;
  box-shadow: 0px 5px 10px 4px rgba(69, 65, 65, 0.5);
  flex-direction: column;
  place-content: center;
}
.title-login {
  margin: 1rem;
  font-size: 23px;
  font-weight: 900;
  color: black;
}
.input-email {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 1rem;
}

.input-email input {
  width: 270px;
  padding: 13px 22px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  background: transparent;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.5);
}
.input-email input:hover {
  border: 2px solid black;
  place-content: center;
}
.submit-btn {
  padding: 8px 11px;
  color: white;
  background-color: blue;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.submit-btn:hover {
  border: 2px solid yellowgreen;
}
.google-btn {
  width: 50%;

  color: white;
  margin: 2rem 2rem;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: cadetblue;
}
.google-btn img {
  background: transparent;
}
.login-with-google-btn {
  width: 100%;
  padding: 4px 7px;
  text-align: center;
  font-size: 19px;
  font-weight: 800px;
  background-color: rgb(61, 61, 207);
  color: white;
}

.login-test-credential-btn {
  width: 50%;

  color: rgb(39, 38, 38);
  margin: 1rem;
  border: 1px solid rgb(49, 43, 43);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(233, 142, 78);
  font-size: 18px;
  font-weight: 900;
}
.login-credential-btn {
  width: 100%;
  color: rgb(54, 53, 53);
  font-size: 1rem;
  font-weight: 900;
  background-color: rgb(212, 209, 209);
  padding: 4px 7px;
}
.login-test-credential-btn p {
  margin-top: 0.5rem;
}
.res-link {
  margin: 1rem;
  color: black;
  font-size: 17px;
  font-weight: 600;
}
.signupclick {
  color: blue;
  font-size: 17px;
  font-weight: 600;
}
.error {
  color: red;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .login {
    width: 80vw;
    height: 98%;
    line-height: -2rem;
    margin: 0 auto;
  }
  .title-login {
    margin: 1rem;
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  .input-email input {
    width: 90%;
    height: 30px;
    font-size: 15px;
    margin: 0 auto;
    position: relative;
    top: 30px;
  }
  .submit-btn {
    position: relative;
    top: 40px;
    width: 80%;
    margin: 0 auto;
  }
  .google-btn {
    width: 50%;

    color: white;
    margin: 3rem auto;
    border: 1px solid black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: cadetblue;
  }
  .login-with-google-btn {
    width: 100%;

    padding: 4px 7px;
    text-align: center;
    font-size: 15px;
    font-weight: 600px;
    background-color: rgb(61, 61, 207);
    color: white;
  }
  .login-test-credential-btn {
    width: 50%;

    color: rgb(107, 102, 102);
    margin: 1rem;
    border: 1px solid rgb(49, 43, 43);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(233, 142, 78);
    font-size: 14px;
    font-weight: 500;
  }
  .login-credential-btn {
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(212, 209, 209);
    padding: 4px 7px;
  }
  .res-link {
    color: black;
    font-size: 17px;
    font-weight: 5;
    position: relative;
    bottom: 29px;
  }
}
