.postdetails {
  width: 100vw;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 162, 162);
}

.post-de {
  width: 88%;
  height: auto;
  margin: 3rem auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24);
  margin: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 15px;
  margin-top: 2rem;
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: 0px 5px 10px 0px Rgba(0, 0, 0, 0.5);
}
.image-single-post {
  width: 87%;
  height: 250px;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}
.postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.postDetails-title {
  flex: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.postDetails-p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .post-de {
    width: 80%;
    height: 80%;
    margin: 1.5rem auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.24);
    margin: 2rem;
    gap: 1rem;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border-radius: 13px;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0px 5px 10px 0px Rgba(0, 0, 0, 0.5);
  }
  .postHeader {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    width: 94%;
  }
  .postDetails-title {
    flex: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .postDetails-p {
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
  }
}
