.nav {
  width: 100vw;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 90%;

  height: 60px;
  margin: 0 auto;
}
.nav-item button {
  background-color: palevioletred;

  border-radius: 5px;
}
.icon {
  color: blue;
}

.nav-blg h3 {
  font-size: 27px;
  font-weight: 900;

  color: black;
}
.nav-blg h3:hover {
  color: yellow;
}
.nav-blg span {
  color: red;
}

.create-icon {
  font-size: 29px;
  font-weight: 900;
  color: palevioletred;
}
.plus {
  font-size: 35px;
  font-weight: 900;
}
.nav-nv {
  color: white;
  font-size: 19px;
  font-weight: 700;
  display: flex;
  padding: 0.2rem;
  justify-content: center;
}
.nav-link {
  color: white;
  gap: 1rem;
  position: absolute;
  right: 45px;
  display: flex;
  flex-direction: column;
  top: 60px;
  border: 1px solid gray;
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav-link li {
  color: goldenrod;
  gap: 7rem;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  text-decoration: none;
  padding: 9px 13px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}

.nav-link li:hover {
  color: blue;
}
.icon-pr {
  color: white;
  background-color: brown;
  border: 2px solid white;
  border-radius: 5px;
}
.profile-cr-log {
  font-size: 15px;
  font-weight: 700;
  color: azure;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.profile-cr-log h5 {
  text-decoration: none;
}
.profile-icon-cr-log {
  font-size: 30px;
  font-weight: 900;
  color: azure;
}
@media (max-width: 768px) {
  .nav-item button {
    width: 70%;
  }
  .nav-blg h3 {
    width: 90%;
  }
  .create-icon {
    width: 80%;
  }
  .nav-nv {
    color: white;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    padding: 0.2rem;
    justify-content: center;
  }
  .nav-link {
    width: 80px;
    color: white;
    gap: 1rem;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    top: 60px;
    border: 1px solid gray;
    box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}
