.App {
  text-align: center;
  color: black;
}

body {
  margin: 0%;
  margin: 0%;
}

/* @media screen and (min-width: 600px) {
  .nav {
    margin: 0;
    width: 20%;
    height: 80px;
    background-color: rgb(245, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(21, 21, 21);
    text-decoration: none;
  }
} */
